<%= form_for [@recipe, @comment] do %>
  <div class="container">
    <p>Comment: <%= f.text_field :content %></p>
    <%= f.submit button_name "Add Comment", class: "custom_button"%>
  </div>
<% end %>