<h4><%= @recipe.title %></h4>
<h5 style="font-size:1.45rem">Rating:</h5>

<h5 style="font-size:1.45rem">Ingredients:</h5>


<h5 style="font-size:1.45rem">Instructions:</h5>
<p><%= @recipe.instructions%> </p>
