<nav style="background-color: #006a71;">
  
    <div class="nav-wrapper container" >
      <a href="#!" class="brand-logo left" style="font-family: 'Sacramento', cursive; font-size:55px; padding-top:7px;">Taste</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <%= render_nav_links(user_signed_in?) %>
      </ul>
    </div>

  </nav>